#DO NOT PUT SPACES BETWEEN COLON AND KEY
access_key:ec2_access_key
secret_key:ec2_scret_key
access_key_remote:ec2_access_key_of_restricted_remote_user
secret_key_remote:ec2_secret_key_of_restricted_remote_user
rsa_key:path_to_rsa_key